html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  cursor: default;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #fff;
}



html {
  background-color: rgba(25, 25, 25, 1);
  height: 100%;
  overflow: hidden;
  –webkit-overflow-scrolling: touch;
}


/*.preload * {
   
  -webkit-transition: none !important;
  transition: none !important;
  -webkit-animation: none !important;
          animation: none !important;
}*/

body {
  margin-top: 0%;
  padding: 0;
  font-family: "aktiv-grotesk", 'aller', 'calibri', Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  /*== continuity of font weight on browsers ==*/
  background-color: rgba(25, 25, 25, 1);
  overflow: hidden;
  –webkit-overflow-scrolling: touch;
  position: relative;
  font-size: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


  
  

.navPhone {
  height: 100%;
  width: 100%;
  background: rgba(25, 25, 25, 1);
  position: absolute;
  z-index: 999;
  left: -200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  }



.navPhone ul {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navPhone ul li {
  font-size: 1.25em;
  text-align: center;
  cursor: pointer;
  opacity: .6;
  letter-spacing: .2em;
  /* 2.5px context 16px 1 em*/
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.navPhone ul li a {
  cursor: pointer;
}

.navPhone ul li:hover,
.navPhone ul li:active {
  opacity: 1;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  /* letter-spacing: 0em; */
}

.navPhone ul li:active {
  font-weight: 600;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}



.active {
  color: #fff;
  opacity: 1 !important;
  font-weight: 600 !important;
  letter-spacing: .2em !important;
  cursor: default !important;
}

.closeContainer {
  height: 50px;
  width: 50px;
  display: block;
  cursor: pointer;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.closeMap {
  position: absolute;
  height: 50px;
  width: 50px;
  display: block;
  cursor: pointer;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 500;
  bottom: 5%;
  left: 50%;
  margin-left: -25px;
  opacity: 0;
  z-index: -30;
}

.navCloseMap,
.navCloseMap:after {
  background-color: rgba(25, 25, 25, 1) !important;
}



.navClose {
  height: 4px;
  width: 20px;
  margin: 5px;
  cursor: pointer;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 40px;
  background-color: #fff;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.navClose:after {
  content: '';
  position: absolute;
  height: 4px;
  width: 20px;
  background-color: #fff;
  cursor: pointer;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.navIN {
  left: 0;
  -webkit-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}

.mainOUT {
  position: relative;
  left: 105%;
  -webkit-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}


.wrap {
  height: 100%;
  width: 105%;
  position: relative;
  left: 0%;
  overflow-y: scroll;
  overflow-x: hidden;
  –webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  -webkit-animation: opacity 2s;
  animation: opacity 2s;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  
}

.main {
  display: none;
}

.menu-nav {
    display: none; 
  }

.phone-menu-nav {
  width: 100%;
}

.phone-menu-nav a {
  width: 100%;
  display: block;
}
.phone-menu-nav ul{
  width: 100%;
 position: fixed;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  left: 0;
  top: 30%;
  background-color: #000;
  z-index: 999999;
  padding-top: 0px;
   padding-bottom: 12px;
  
}

.phone-menu-nav ul li {
  width: calc(50% - 10px);
  text-align: center;
  text-transform: uppercase;
  font-family: "aktiv-grotesk", 'aller', 'calibri', Sans-Serif;
  font-size: .9em;
  letter-spacing: .1em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -ms-flex-item-align: ;
      align-self: ;
  margin-top: 1em;
  padding: 5px 0;
  cursor: pointer;
  }

.phone-menu-nav ul li a {
  color: rgba(255,255,255, 1);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}




/* NAV BLUR IN */
  .navPhone {
    -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
    background-color: rgba(25,25,25,.7);
  }
  
  .navPhone ul li {

  }
  
  .navIN {
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  }
  
  .mainOUT {
    left: 0px;
    -webkit-filter: blur(.7em);
            filter: blur(.7em);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .navClose, .navClose:after {
    height: 2px;
  }
/* NAV BLUR IN */
.menu-bio {
  padding: 0;
  position: relative;
  margin-top: 70px;
}



.anchor-phone {
  position: absolute;
  margin-top: -100%;
}


@media (min-width: 500px){
  
  .phone-menu-nav {display: none;}
  
  .navPhone {
    -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
    background-color: rgba(25,25,25,.4);
  }
  
  
  
  .navPhone ul {
    z-index: 200;
  }
  
  
  
  .navIN {
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  }

  .mainOUT {
    left: 0px;
    -webkit-filter: blur(.7em);
            filter: blur(.7em);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .navClose, .navClose:after {
    height: 2px;
    }
  

  
  .closeContainer {
    
   
  }
   .closeContainer:hover > .navClose {
    width: 10px;
      -webkit-transition: width 0.2s ease-out;
      transition: width 0.2s ease-out;
  }
  .closeContainer:hover > .navClose:after {
    width: 10px;
     -webkit-transition: width 0.2s ease-out;
     transition: width 0.2s ease-out;
  }
  
  
  
  
  .wrap {
      position: relative;
  margin:0;
  padding: 0;
  height: 100%; /*760px*/
  width: 100%; /*1440px change to % to remove black on +1440px*/
  background: url(../images/DowntoEarth325Background.jpg) no-repeat center center fixed;
  background-size: cover; /* IMAGE NOT SUITABLE FOR IPAD etc.*/
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
     -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .team-wrap {
    background: url(../images/Unknown-12.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  
  .wrap-blog {
    background: url(../images/IMG_0535.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  
  .wrap-menu {
   background: url(../images/Unknown-14.jpg) no-repeat center center fixed;
    background-size: cover; 
  }
  
  .wrap-contact {
    background: url(../images/Unknown-17.jpg) no-repeat center center fixed;
    background-size: cover; 
  }
  
  .main {
    display: block;
    height: 90%;
    width: 85%;
    background-color: rgba(25,25,25,.4);
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .main:before {
    content: '';
    position: absolute;
    background-color: #000; 
    background-color: rgba(0,0,0,1);
    width: 85%;
    height: 25px;
    z-index: 20;
    display: none;
  }
  
   .main:after {
    content: '';
    position: absolute;
     background-color: #000; 
    background-color: rgba(0,0,0,1);
    width: 85%;
    height: 25px;
    bottom: 5%;
    z-index: 20; 
  }
  
  .main-menu {
    background-color: rgba(25,25,25,.5);
  }
  

  
   .menu-nav {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
    position: relative;
    background-color: #000; 
    background-color: rgba(0,0,0,1);
    
    height: 25px;
    z-index: 10;
     top: 27px; /* 8.5% */ 
  }
  
  .menu-nav2 {
   top: 0%; /* 12% */
   
  }
  
  .menu-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    }
  
  .menu-nav-2-active {
    color: rgba(255,255,255,1) !important;
  }
  
  .menu-nav ul li {
      font-size: 0.8125em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .125em;
    color: #fff;
    color: rgba(255,255,255,.5);
    cursor: pointer;
  }
  
  .menu-nav ul li a {
    color: rgba(255,255,255,.6);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
  }
  
  .menu-nav ul li a:hover {
    color: rgba(255,255,255,1);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .menu-active {
    color: rgba(255,255,255, 1) !important;
    opacity: 1 !important;
  }
  
  
  
  .blur {
    height: 90%;
    width: 85%;
    position: absolute;
    top: 5%;
    left: 7.5%;
    -webkit-filter: blur(.5em); /* 8px context 16px/1em */
  -moz-filter: blur(.5em);
  -o-filter: blur(.5em);
  -ms-filter: blur(.5em);
  filter: blur(.5em);
  overflow: hidden;
  z-index: 0;
 background: url(../images/DowntoEarth325Background.jpg) no-repeat center center fixed;
  background-size: cover; /* IMAGE NOT SUITABLE FOR IPAD etc.*/
  }
  
  .blur-about {
    background-image: url(../images/DowntoEarth325Background.jpg);
    -webkit-animation: main-ani-in .5s ease-out .5s backwards;
            animation: main-ani-in .5s ease-out .5s backwards;
  }
  
  .blur-team {
    background-image: url(../images/Unknown-12.jpg);
    -webkit-animation: main-ani-in .5s ease-out .5s backwards;
            animation: main-ani-in .5s ease-out .5s backwards;
  }
  
  .blur-blog {
    background-image: url(../images/IMG_0535.jpg);
    -webkit-animation: main-ani-in .5s ease-out .5s backwards;
            animation: main-ani-in .5s ease-out .5s backwards;
  }
  
  .blur-menu {
  background-image: url(../images/Unknown-14.jpg);
    -webkit-animation: main-ani-in .5s ease-out .5s backwards;
            animation: main-ani-in .5s ease-out .5s backwards;
  }
  
  .blur-contact {
    background-image: url(../images/Unknown-17.jpg);
    -webkit-animation: main-ani-in .5s ease-out .5s backwards;
            animation: main-ani-in .5s ease-out .5s backwards;
  }
  
  .inner-main {
    position: relative;
    top: 25px;
    height: 88%;
    padding-top: 0%;
    padding-bottom: 5%;
    overflow: hidden;
    -webkit-animation: main-ani-in 0.5s ease-in 1s backwards;
            animation: main-ani-in 0.5s ease-in 1s backwards;
    z-index: 200;
  }
  
  .inner-main-blog {
    padding-top: 0;
    padding-bottom: 0;
    height: 93%;
   margin-left: -2%;
  }
  
  .inner-main-menu {
    height: 90%;
    padding: 0;
    top: 20px;
    margin-left: -2%;
  
  }
  
  .scroll{
    height: 100%;
    width: 102%;
    overflow-y: scroll;
  }
  
  .scroll-team {
    padding-top: 60px;
  }
  
  .scroll-about {
    height: 105%;
  }
  
  .scroll-contact {
   
    height: 95%;
  }
 
  
  .bio {
    padding-bottom: 0;
    
  }
  
  
  .inner-main-contact {
    width: 80%;
    padding: 0 10%;
     height: 95%;
    top: 20px;
    
    overflow: auto;
    
  }
  
  .con-infoLarge {
    display: block;
    -webkit-transition: all 0.2s ease-out 0.2s;
  transition: all 0.2s ease-out 0.2s;
    }
  
  
  .social-icons-one {
    display: none;
  }
  
  
}



@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hamburgerContainer {
  height: 25px;
  position: absolute;
  width: 80px;
  top: 10px;
  left: 20px;
  /*right: 30px*/
  cursor: pointer;
  background: transparent;
  z-index: 1999;
  cursor: pointer;

}

.hamburger,
.hamburger:after,
.hamburger:before {
  background-color: #fff;
 
  border-radius: 1.875em;
  height: 2px;
  width: 20px;
  position: fixed;
  content: '';
  top: 10px;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}



.hamburger:after,
.hamburger:before {
  position: absolute;
  top: 5.5px;
  height: 2.5px;
}

.hamburger:before {
  top: 12px;
  height: 2px;
}

.menuHam {
  position: relative;
  top: -2px;
  left: 25px;
  letter-spacing: .07em;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}


@media (min-width: 500px) {
  .hamburgerContainer {
    top: 5%;
    left: 8.5%;
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    
  }
  
 
  
  .hamburger,
.hamburger:after,
.hamburger:before {
  position: relative;
  top: -3px;
  width: 11px;
  height: 1px;
   background-color: rgba(255,255,255,.6);
   -webkit-transition: all 0.2s ease-out;
   transition: all 0.2s ease-out;
  
  }
  
 
  
  .hamburger:after,
.hamburger:before {
  position: absolute;
  top: 3px;
   
}
  .hamburger:before {
  top: 6px;
}
  
  
    .hamburger-blog,
.hamburger-blog:after,
  .hamburger-blog:before {
    background-color: #fff;
  }
  
   .hamburgerContainer:hover > .menuHam {
    color: rgba(255,255,255,1);
     letter-spacing: .1em;;
     -webkit-transform: translateX(3px);
             transform: translateX(3px);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .hamburgerContainer:hover > .hamburger {
    background-color: rgba(255,255,255,1);
    
     -webkit-transition: all 0.2s ease-out;
    
     transition: all 0.2s ease-out;
  }
  .hamburgerContainer:hover > .hamburger:before {
    background-color: rgba(255,255,255,1);
    
     -webkit-transition: all 0.2s ease-out;
    
     transition: all 0.2s ease-out;
  }
  .hamburgerContainer:hover > .hamburger:after {
    background-color: rgba(255,255,255,1);
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
     -webkit-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;
  }
}
.sectionCont {
  /*height: 100%;*/
  width: 95%;
  padding-top: 60%;
  
}

.sectionMenu {
  /*height: 100%;*/
  width: 95%;
  padding-top:0%;
  height: 70%;
  position: relative;
  top: 30%;
  
}

.sectionCont2,
.sectionCont3 {
  height: 70%;
}

.sectionTeam {
  padding-top: 0;
  top: 35%;
  position: absolute;
  z-index: 0;
}

.sectionAbout {
  padding-top: 0;
  height: 70%;
  position: relative;
  top: 30%;
  z-index: 0;
  
}

.logo {
  display: none;
}



  
@media (min-width: 500px){
  .sectionTeam, .sectionMenu, .sectionAbout {
    display: none;
  }
}


/*.sectionTeam ul:last-child {
  padding-bottom: 0%;
} */

.bioCont {
  background-color: rgba(25, 25, 25, 1);
  height: 65%;
}

.header {
  position: fixed;
  height: 30%;
  background: url(../images/Unknown-3_5S.jpg) center center no-repeat;
  background-size: cover;
  background-position: 0px -300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  /* z-index: 10; */
}



@media (max-width: 320px){ 
.header {
  background-size: cover;
  background-position: 0px -260px;
  
}
}

.headerTeam {
  background: url(../images/Unknown-12.jpg) center center no-repeat;
  background-size: cover;
  z-index: 500;
  }

.menu-header {
   background: url(../images/Unknown-14.jpg) center center no-repeat;
  background-size: cover;
}

.headerBlog {
  background: url(../images/IMG_0535.jpg) center center no-repeat;
  background-size: cover;
}

.headerAbout {
   background: url(../images/DowntoEarth325Background.jpg) center center no-repeat;
  background-size: cover;
}



.googleHeader {
  z-index: 10;
  opacity: 1;
  position: fixed;
  height: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}



#google {
  height: 585%;
  /* 600%*/
  width: 100%;
  -webkit-animation: opacity 2s ease-out 0.2s backwards;
  animation: opacity 2s ease-out 0.2s backwards;
}

@media (min-width: 500px){
  .header {
    display: none;
  } 
  .googleHeader {
display: none;
  } 
  
  .google-container {
    height: 82%;
    width: 84.875%;
    overflow: none;
    position: absolute;
    top: 100%;
    -webkit-transition: all 0.2s ease-out ;
    transition: all 0.2s ease-out ;
    overflow: hidden;
    
    
  }
   #google2 {
     position: relative;
     top: 25px;
    display: block;
    z-index: 0;
    height: 98%;
    width: 100%;
     left: 0%;
    opacity: 1;
     background-color: transparent;
     -webkit-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;
  }
  
  .mapDown {
    
    top: 10%;
    -webkit-transition: all 0.2s ease-out 0.2s;
    transition: all 0.2s ease-out 0.2s;
  }
  
  .closeMapContainer {
    height: 110px;
    width: 95%;
    left: 0;
    bottom: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 9000;
     -webkit-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;
    }
  
  .closeMap-up {
     -webkit-transform: translateY(0px);
             transform: translateY(0px); 
     -webkit-transition: all 0.2s ease-out; 
     transition: all 0.2s ease-out;
  }
  
  .closeMapButton{
    margin-left: 5%;
    height: 50px;
    width: 50px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 9;
    cursor: pointer;
    
  }
  
  .closeMapSpan {
    display: block;
      height: 4px;
  width: 20px;
 
  cursor: pointer;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 40px;
  background-color: #000;
  }
  
  .closeMapSpan:after {
      content: '';
  position: absolute;
  height: 4px;
  width: 20px;
  background-color: #000;
  cursor: pointer;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  
  }
  
     .closeMapButton:hover  .closeMapSpan {
       -webkit-transform: rotate(45deg) scale(.9);
               transform: rotate(45deg) scale(.9);
      -webkit-transition: transform 0.2s ease-out;
      -webkit-transition: -webkit-transform 0.2s ease-out;
      transition: -webkit-transform 0.2s ease-out;
      transition: transform 0.2s ease-out;
      transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  }
  .closeMapButton:hover  .closeMapSpan:after {
 
    -webkit-transform: rotate(90deg) scale(.9);
 
            transform: rotate(90deg) scale(.9);
      -webkit-transition: transform 0.2s ease-out;
      -webkit-transition: -webkit-transform 0.2s ease-out;
      transition: -webkit-transform 0.2s ease-out;
      transition: transform 0.2s ease-out;
      transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  }
  
}

.phan {
  position: relative;
  background-image: none;
  height: 30%;
}

.removeHead {
  display: none;
  /* Hide header phantom*/
}

h1 {
  font-family: "aktiv-grotesk", 'aller', 'calibri', Sans-Serif;;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  background: rgba(25, 25, 25, .7);
  padding: 2px 10%;
  min-width: 185px;
  padding: 1% 0;
  letter-spacing: .1em;
  text-align: center;
  width: 100%;
}

.h1Container {
  display: none;
}

@media (min-width: 500px) {
  
  h1 {
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
    .h1Container {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 85%;
    height: 25px;
    top: 5%;
    left: 7.5%;
    font-size: 1em;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  
  .h1Container-btm {
     position: absolute;
    padding: 0;
    margin: 0;
    width: 85%;
    height: 25px;
    bottom: 5%;
    left: 7.5%;
    font-size: 1em;
    z-index: 1000;
    -webkit-animation: main-ani-in 1s ease-out 1s backwards;
            animation: main-ani-in 1s ease-out 1s backwards;
  }

  
  .menuHam {
    color: rgba(255,255,255,.6);
    z-index: 6000;
     font-family: "aktiv-grotesk", 'aller', 'calibri', Sans-Serif;
     font-size: 0.5em;
    letter-spacing: .125em;
    font-weight: 600;
    position: absolute;
    top: 7px;
    left: 20px;
     -webkit-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;
    cursor: pointer;
    }
  
  h1 {
       font-size: 0.8125em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .125em;
    background-color: #000;
    
  }
 
}

.headerContact {
  position: fixed;
  height: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  z-index: 100;
}

.bioImg {
  background: url(../images/foto_2colour.png) center no-repeat;
  background-size: contain;
  width: 100%;
  height: 150px;
}



.about-text {
  font-family: 'aktiv-grotesk', 'calibri', Sans-Serif;
  color: #fff;
  text-align: center;
  line-height: 1.3em;
  padding: 5%;
  padding-bottom: 10%;
  }

 @media (min-width: 630px) {
    .about-text {
      font-size: 1.1em;
      line-height: 1.4em;
    }
  }

@media (min-width: 500px) {
  .inner-main ul {
    height: 100%;
   width: 68%;
    margin-top: 0%;
      padding: 0 15%;
  }
  
  .inner-main:first-child {
    margin-top: 0%;
  }
  .bioImg {
    height: 200px;
  }
  
 
}

.bioImgLogo {
  background-image: url(../images/DownToEarthLogo100mm.png);
}

.name,
.title,
.bio {
  font-family: 'aktiv-grotesk', 'calibri', Sans-Serif;
  color: #fff;
  text-align: center;
  line-height: 1.5em;
}

.name {
  letter-spacing: .1em;
  padding-top: 10px;
  font-size: 1.5em;
}

.title {
  font-size: 1.15em;
  letter-spacing: .1em;
  color: rgba(255, 255, 255, .7);
}

.bio {
  font-family:  'aller', 'calibri', Sans-Serif;;
  padding: 5% 10%;
  letter-spacing: .01em;
}

@media (min-width: 500px) {

  
  .bioImg {
    height: 200px;}
  
  .headerContact {
    display: none;
  }
  
  .about-text {
    
    padding-bottom: 0%;
    padding-top: 0;
    display: block;
}
  
  .text-container {
    height: 100%;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  } 
  
  .open-container {
    height: 100%;
    width: 30%;
    position: absolute;
   top: 0;
    left: 70%;
   }
  
  .open-p-container {
    height: calc(95% - 25px);
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
      font-family: "aktiv-grotesk", 'aller', 'calibri', Sans-Serif;
    text-transform: uppercase;
    font-size: 0.8125em;
    letter-spacing: .125em;
    color: #fff;
    text-align: center;
  }
  
  .open-p-container span {
    display: block;
    margin-top: 10px;
  }
  
  .open-h1 {
    display: block;
    font-size: 1em; 
letter-spacing: 0.25em;
    line-height: 1.5em;
background-color: #000;
border-color: #fff;

    margin: 10px 0;
    
  }
  
  .open-h2 {
    display: block;
    margin: 10px;
    font-family: 'aller', 'calibri', Sans-Serif;
  }
  
  .open-takeaway {
    display: block;
    font-size: .8em;
    
  }
  
  .open-container:after {
    content: '';
    position: absolute;
    height: 90%;
    bottom: 4%;
    
    width: 100%;
    border-left: 0px solid #000; /* DELETE IF NOT NEEDED */
  }
  
  
  
  .open-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
     width: 100%;
    height: 25px;
    position: relative;
     top: 2px;
      text-align: center;
    color: #fff;
    background-color: #000;
    font-family: "aktiv-grotesk", 'aller', 'calibri', Sans-Serif;
    text-transform: uppercase;
    font-size: 0.8125em;
    letter-spacing: .125em;
    
    
  }
}

@media (max-width: 320px){ 
.bioOne {
  padding-top: 0;
  
}
}
/* BLOG */

.blogCont,
.sectionContact {
  overflow-x: hidden;
  height: 100%;
  padding-top: 0;
}

@media (min-width: 500px) {
  .blogCont {
    display: none;
  }
 
  
}

#blogIframe {
  width: 100%;
  /*105 hide scroll bar*/
  height: 100%;
  -webkit-animation: opacity 2s ease-out .5s backwards;
  animation: opacity 2s ease-out .5s backwards;
  /* margin-left: -2.5%; */
  /*hide scroll bar*/
  -webkit-animation: main-ani-in 0.5s ease-out 1s backwards;
          animation: main-ani-in 0.5s ease-out 1s backwards;
}



/* Contact */

.sectionContact {
  width: 80%;
  padding: 0% 10%;
  padding-left: 8.5%;
  overflow: scroll;
  
}

.sectionContact:last-child {
  padding-bottom: 50px;
}

.con-title {
  padding: 5px;
  font-size: 1.2em;
  color: #fff;
  background-color: #000;
  text-align: center;
  font-family: 'aller', 'calibri', Sans-Serif;
  margin: .8em 0;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  letter-spacing: .1em
}

.con-info {
  font-size: 1em;
  color: #fff;
  opacity: 1;
  text-align: center;
  font-family: 'aller', 'calibri', Sans-Serif;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.con-info:hover {
  opacity: 1;

  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.con-info a {
  cursor: pointer;
}



.address {
  line-height: 1.5em;
  cursor: pointer;
}

.address .border {
  display: block;
  height: 1px;
  background-color: #fff;
}



.numb {
  cursor: pointer;
  margin: .1em 0;
}

.icon {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  margin-bottom: .5em;
  cursor: pointer;
}

.mapmarker {
  margin-bottom: .5em;
  cursor: pointer;
}





.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  left: 0;
  height: 25px;
  padding: 15px 0;
  background-color: transparent;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

 .social-icons-one {
    display: none;
  }



@media (min-width: 500px) {
  
  
    .mapmarkerLarge {
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      cursor: pointer;
    }
.menu-nav ul:hover  .mapmarkerLarge{
      -webkit-transform: rotate(20deg);
              transform: rotate(20deg);
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      color: #fff;
    }
  
  .mapmarkerLarge-active {
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      color: #fff;
  }

     .menu-nav-2 {
   top: 29px;
     z-index: 5;
       
  }
  
  .menu-nav-2-contact {
  display: none;
  
}
 
 
  
  
  
  .transportInfo-bus, .transportInfo-car, .transportInfo-bike, .transportInfo-train {
    top: 115px; /*15.5%*/
    height: 0%;
    width: 75%;
    padding: 0 5%;
    background-color: rgba(0,0,0,.8);
    position: absolute;
    z-index:99;
    font-family:  'aller', 'calibri', Sans-Serif;
    color: rgba(255,255,255,1);
    letter-spacing: 0.05em;
    text-align: center;
     -webkit-transition: height 0.2s ease-out;
     transition: height 0.2s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .transportInfo-height {
    height: 80%;
    -webkit-transition: height 0.2s ease-out;
    transition: height 0.2s ease-out;
  }
  
  .busInfo, .carInfo, .trainInfo, .bikeInfo{
    
    display: none;
    color: #fff;
    z-index: 900;
  }
  
  .busInfo span, .carInfo span, .trainInfo span, .bikeInfo span {
    display: block;
    text-transform: capitalize;
    margin-bottom: 10px;
    
    
  }
  
  .transportInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    width: 85%;
    overflow-y: scroll;
  }
  
  .transportInfo p {
    width: 80%;
    height: 80%;
    
  }
  
  .transportInfo p span{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   
    }
  
  .transportInfo p span:nth-child(odd){
         font-size: 0.8125em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .125em;
  }
  
  
  .info-title {
    width: 100%;
    background-color:#000; 
  }
  
  .info-title {
    text-transform: uppercase !important;
  }
  
  .info-text {
    font-size: .9em;
  
  }
  
  .address-btn {
    position: absolute;
    height: 20%;
    width: 80%;
    cursor: pointer;
  }

  .social-icons {
    padding: 0;
  }
.social-icons a {
  width: 25%;
  text-align: center;
  z-index: 9999;
}
  
.social-icons span {
  color: rgba(255,255,255, .6);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.social-icons span:hover, .social-icons span:active {
  opacity: 1;
  color: rgba(255,255,255, 1);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.social-icons span:active {
  opacity: 1;
}
  
  .sectionContact {
    display: none;
  }

 
    }

 @media (min-width: 750px) {
   
   
   .menu-nav-map, .menu-nav {
     top: 27px;
     position: relative;
     width: 100%;
     -webkit-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;
   }
   
   
   .menu-nav-2 {
      top:29px;
     
   }
   
   .menu-nav-2-contact {
    display: none;
  }
  }

 @media (min-width: 860px) {
   .menu-nav-map, .menu-nav {
     top: 27px;
     -webkit-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;
   }
   
   .menu-nav-2 {
      top: 29px;
     
   }
   
    .menu-nav-2-contact {
    display: none;
  }
  }

 @media (min-width: 983px) {
   .menu-nav-map, .menu-nav {
     top: 27px;
     -webkit-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;
   }
   
   .menu-nav-2 {
      top: 29px;
    
   }
  }


/* MENU */

.menu-header {
  z-index: 500;
    }

.menu-holder input {
  display: none;
}










.menuH2 {
  font-size: 1.6em;
  font-family: 'aller', 'calibri', Sans-Serif;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0 0 20px 0;
  border: 2px solid #fff;
  border-left: 0;
  border-right: 0;
  width: 100%;
  overflow: visible;
  cursor: pointer;
 
}



.phant {
  
  border-color: transparent;
  color: transparent;
  font-size: 1.6em;
  font-family: 'aller', 'calibri', Sans-Serif;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0 0 20px 0;
  border: 2px solid;
  border-left: 0;
  border-right: 0;
  width: 100%;
  height: 20px;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  
}

@media (max-width: 320px){ 
  .phant {
    display: none;
    }
  .menu-bio {
    margin: 0px;
    padding-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    
    
    }
  
    }

@media (min-width: 500px) {
  
  
  .ac-menu {
    position: relative;
    text-align: center;
    height: 95%;
    top: 0%;
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    color: #fff;
  }
  
 
    }


.menuH3 {
  font-size: 1.3em;
  font-family: 'aller', 'calibri', Sans-Serif;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: .15em;
  margin: 10px 0 20px 0;
  border: 1px solid #fff;
  border-left: 0;
  border-right: 0;
}

.menuH4 {
  margin: 10px 0;
  letter-spacing: .1em;
  font-size: 1.1em;
  padding-top: 10px;
 
}

.menuH4 span {
  display: block;
  font-size: .65em;
  margin: 5px 0 5px 0;
  color: rgba(255, 255, 255, .8);
}

.menuP {
  letter-spacing: .05em;
  font-size: 1em;
  margin: 0 0 5px 0;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.price {
  display: block;
  font-weight: 600;
  padding-bottom: 5px;
}

.menuKey {
  font-size: .6em
}


@media (min-width: 500px) {
  
  .h1ContainerTeam{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menuH2 {
   background-color: rgba(25,25,25, .5);  
  }
  .menuH3 {
    background-color: rgba(25,25,25, .5);
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
  
  .menuP {
  letter-spacing: .05em;
  font-size: 1em;
  margin: 0 0 5px 0;
  line-height: 1.4em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
  
  .small {
    font-size: .7em; 
    display: block;
    
   
}
  
  .anchor {
    display: block;
    margin-bottom: 20px;
  }
  
  .anchor-first{
    display: block;
    height: 20px;
   }
  
  .main-wrap{    
    position: relative;
  margin:0;
  padding: 0;
  height: 100%; /*760px*/
  width: 100%; /*1440px change to % to remove black on +1440px*/
  background: transparent no-repeat center center fixed;
  background-size: cover; /* IMAGE NOT SUITABLE FOR IPAD etc.*/
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
     -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
      -webkit-animation: main-ani-in .5s ease-out 0.5s backwards;
              animation: main-ani-in .5s ease-out 0.5s backwards;
  }
  
  @-webkit-keyframes main-ani-in {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes main-ani-in {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  .transportInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
 
}
/* JQUERY BEHAVIOURS*/

.opacity {
  opacity: 0;
  z-index: -100;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.opacityIn {
  opacity: 1;
  z-index: 500;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.mapHeight {
  overflow: visible;
}

.jsHeight {
  height: 0;
  border: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out ;
}


  
@media (min-width:1100px) {
  .navPhone {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 130px;
    height: 100%;
    background-color: rgba(0,0,0,.5);  
    left: 0px;
    z-index: 100;
    -webkit-animation: main-ani-in 0.5s ease-out 0s backwards;
            animation: main-ani-in 0.5s ease-out 0s backwards;
  }
 
  
  
  .navPhoneBlur {
    display: block;
    height: 100%;
    width: 130px;
    position: absolute;
    left:0;
    background: url(../images/Unknown-14.jpg) no-repeat center center fixed;
    background-size: cover;
    
     -webkit-filter: blur(.5em); /* 8px context 16px/1em */
    -moz-filter: blur(.5em);
    -o-filter: blur(.5em);
    -ms-filter: blur(.5em);
    filter: blur(.5em);
  z-index: 50;
    overflow: hidden;
    -webkit-animation: main-ani-in 0.5s ease-out 0s backwards;
            animation: main-ani-in 0.5s ease-out 0s backwards;
     /* IMAGE NOT SUITABLE FOR IPAD etc.*/
    }
  
  .navPhoneBlur-team {
    background-image: url(../images/Unknown-12.jpg);
  }
  
  .navPhoneBlur-contact {
    background-image: url(../images/Unknown-17.jpg);
  }

  .navPhoneBlur-blog {
    background-image: url(../images/IMG_0535.jpg); 
  }
  
  .logo {
    width: 130px;
    height: 130px;
    display: block;
    position: absolute;
    top: 5px;
    background: url(../images/DownToEarthLogo100mm.png) center center no-repeat;
    background-size: 110px;
    overflow: visible;
    left: 0;
    
  }
 
  
  .main {
    position: relative;
    width: 80%;
    
  }
  
  .blur-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
  }
  .blur {
    position: relative;
    width: 80%;
    left: 0;
    top: 0;
    
  }

  
  .main-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: calc(100% - 130px);
    position: absolute;
    right: 0;
    top: 0;
  }
  .main:after {
    width: 100%;
    bottom: 0;
  }
  
  .menu-nav {
    width: 100%;
    top: 27px;
    position: absolute;
  }
  
  .inner-main-menu {
    top: 50px;
  }
  
  .h1Container {
    position: relative;
    width: 100%;
    background-color: #000;
    left: 0;
    top: -90%;
    z-index: 999;
    }
  
  .hamburgerContainer {
    display: none;
  }
  
  .closeContainer {
    display: none;
  }
  
  .navPhone ul {
    padding: 0;
    margin: 0;
    height: 25%;
   
  }
  
  .navPhone ul li {
    margin: 0;
        text-align: center;
    font-size: 0.78125em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.125em;
    cursor: pointer;
    font-family: "aller",'calibri', Sans-Serif;
    }
  
  .main:before {
    display: none;
  }
  
  .h1ContainerTeam {
    position: absolute;
    top: 0;
    display: block;
  }
  
  .h1Container-contact {
    position: absolute;
    top: 0;
    
  }
  
  .about-text {
 font-size: 1.2em;
  line-height: 1.6em;
  
}

 
  
  .social-icons  {
   display: none;
  }
  
  .social-icons-one {
    width: 130px;
    position: absolute;
    z-index: 99999;
    bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    
  }
  
  .social-icons-one a span {
   cursor: pointer;
  }
  
  
  .social-icons-one a {
    cursor: pointer;
    color: rgba(255,255,255,.6);
   
  }
  
  .social-icons-one a:hover {
    color: rgba(255,255,255,1);
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    cursor: pointer;
  }
  
  .fa {
    cursor: pointer;
  }
  
  .menu-nav-2-contact, .menu-nav-map {
    display: none;
  }
  
  .menu-nav-2-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 65%;
    right: 0;
    
  }

  .main-contact {
    overflow-y: hidden;
    
  }
  .inner-main-contact {
    padding: 2.5%;
    padding-top: 0;
    width: 30%;
    height: calc(100% - 50px);
    top:25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    overflow-y: scroll;
  }
  
  .con-infoLarge {
    overflow-y: scroll;
  }
  
  .google-container {
    width: 65%;
    height: 94%;
    top: 25px;
    right: 0;
  }
  
  .closeMapContainer {
    display: none;
  }
  
  .transportInfo {
    right: 0;
    width: 55%;
    top: 50px;
  }
  
  
  
  .con-title {
    font-size: .8em;
    background-color: #000;
    border: none;
  }
  
  .address-btn {
    display: none;
  }
  .address span {
    display: none;
  }
  
 
  
  .con-info {
    text-align: left;
  }
  
  .icon {
    text-align: left;
    display: inline-block;
  }
  
  .numb {
    display: inline-block;
    text-align: center;
    width: 80%;
  }
  
   .address {
    text-align: center;
     cursor: default;
  }
  
  .con-infoLarge {
    opacity: 1;
  }
  
  .transportInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    width: 65%;
    overflow-y: scroll;
  }
  
  .transportInfo p {
    width: 80%;
    height: 80%;
  }
  
  .transportInfo p span{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   
    }
  
  .transportInfo p span:nth-child(odd){
         font-size: 0.8125em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .125em;
  }
  
  
  .info-title {
    width: 100%;
    background-color:#000; 
  }
  

  .h1Container-med {
    display: none;
  }
  
   .menu-nav {
     top: 27px;

   }
  
    .inner-main ul {
    height: 100%;
    margin-top: 0%;
      padding: 0 15%;
    
  }
  
  .inner-main:first-child {
    margin-top: 0%;
  }

  
}

 @media (min-width: 1172px) {
    .menu-nav {
     top: 27px;
   }
}

 @media (min-width: 1295px) {
   .menu-nav-map, .menu-nav {
     top: 27px;
   }
}
 @media (min-width: 1412px) {
   .menu-nav-map, .menu-nav {
     top: 27px;
    
   }
}

 .down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   top: 29px;
}

.menu-nav-map-top {
  top:  41px;
}

.menu-nav-2-top {
  top: 43px;
}

@media (min-width:1100px) {
.menu-nav-2-desktop {
  top: 27px !important;
}
}

