html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    cursor: default;
    vertical-align: baseline;

    border: 0;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}

body
{
    line-height: 1;
}

ol,
ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

a,
a:hover,
a:active,
a:visited
{
    text-decoration: none;

    color: #292929;
}

*
{
    box-sizing: border-box;
}

html
{
    position: relative;

    overflow-x: hidden;

    width: 100%;
    height: 100%;
}

body
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: 16px;

    position: relative;

    width: 100%;
    height: 100%;

    background-color: #e3e3e3;
}

.wrap
{
    position: relative;

    width: 100%;
    height: 100%;

    transition: all .3s linear, -webkit-filter .5s linear 0s;

    background-color: #e3e3e3;
}

.nav-btn
{
    position: fixed;
    z-index: 25;
    bottom: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
        flex-direction: column;

    width: 50px;
    width: 100%;
    height: 50px;
    height: 30px;

    cursor: pointer;
    -webkit-transition: background-color .5s ease;
            transition: background-color .5s ease;

    background-color: transparent;
    background-color: #bdbdbd;
    background-color: rgba(189, 189, 189, .7);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-btn:hover
{
    -webkit-transition: background-color .5s ease;
            transition: background-color .5s ease;

    background-color: #bdbdbd;
    background-color: rgba(189, 189, 189, 1);
}

.nav-btn span
{
    display: block;

    width: 20px;
    height: 2px;
    margin: 2px;

    cursor: pointer;
    -webkit-transition: all .1s linear;
            transition: all .1s linear;
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);

    opacity: 1;
    background-color: #292929;
}

.nav-btn .ani:nth-child(2)
{
    -webkit-transition: opacity .1s linear;
            transition: opacity .1s linear;

    opacity: 0;
}

.nav-btn .ani:nth-child(1)
{
    -webkit-transition: -webkit-transform .3s linear .1s;
            transition: -webkit-transform .3s linear .1s;
            transition:         transform .3s linear .1s;
            transition:         transform .3s linear .1s, -webkit-transform .3s linear .1s;
    -webkit-transform: translateY(6px) rotate(45deg);
            transform: translateY(6px) rotate(45deg);
    -webkit-transform-origin: center;
            transform-origin: center;

    opacity: 1;
}

.nav-btn .ani:nth-child(3)
{
    -webkit-transition: -webkit-transform .3s linear .1s;
            transition: -webkit-transform .3s linear .1s;
            transition:         transform .3s linear .1s;
            transition:         transform .3s linear .1s, -webkit-transform .3s linear .1s;
    -webkit-transform: translateY(-6px) rotate(-45deg);
            transform: translateY(-6px) rotate(-45deg);

    opacity: 1;
}

.nav--mobile
{
    position: fixed;
    z-index: 20;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;

    width: 100%;
    height: 100%;

    -webkit-transition: all .2s ease;
            transition: all .2s ease;

    opacity: 0;
    background-color: #e3e3e3;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav--mobile ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 80%;

    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav--mobile ul li a
{
    font-size: 5em;

    text-transform: uppercase;
}

.nav--main-site
{
    font-size: 1em;

    position: absolute;
    bottom: 40px;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav--main ul
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    width: 100%;
    padding-top: 20px;

    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav--main-site ul
{
    width: 50%;
}

.nav--main ul li
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: .65em;

    display: inline-block;

    margin: 10px;

    letter-spacing: .1em;
    text-transform: uppercase;

    color: #292929;
}

nav ul li a,
nav ul li a:visited
{
    cursor: pointer;
    -webkit-transition: color .2s ease;
            transition: color .2s ease;
    text-align: center;

    color: #292929;
}

.nav--home li a,
.nav--home li
{
    -webkit-transition: all .2s ease;
            transition: all .2s ease;

    color: #292929 !important;
}

.nav--home li
{
    width: 100px;
}

.nav--home li a
{
    display: block;

    width: 100%;
    padding: 10px;

    -webkit-transition: all .2s ease;
            transition: all .2s ease;
    text-align: center;

    border: 1px solid #292929;
    border-radius: 5px;
}

.nav--home li:hover .home-link-hover
{
    -webkit-transition: all .2s ease;
            transition: all .2s ease;

    color: #e3e3e3 !important;
    background-color: #292929;
}

.home-link-hover:hover
{
    opacity: 1;
}

@media (max-width: 937px)
{
    .nav--main
    {
        width: 100%;
    }
    .nav--main ul li
    {
        width: 100%;

        text-align: center;
    }
    .nav--main ul li a
    {
        display: block;
    }
    .nav-btn
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .section--home
    {
        border-bottom: none !important;
    }
}

section
{
    position: relative;

    width: 100%;
    height: 100%;

    background-color: transparent;
}

.section--home
{
    position: relative;
    z-index: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100%;
    height: 100%;

    border: 30px solid #bdbdbd;
    background-color: #e3e3e3;
    background-size: cover;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.h1--home-container
{
    width: 100vw;
    /*  background-color: rgba(227, 227, 227, .85);*/
    /*
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
*/
}

h1
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: 1.8em;
    font-size: 1.6em;
    font-weight: 500;
    font-weight: 500;

    padding: 36px;

    text-align: center;
    text-align: center;
    letter-spacing: .2em;
    text-transform: uppercase;

    color: #292929;
}

.h1--home-name
{
    font-size: 6em;

    width: 100%;
    margin-bottom: 10px;
    padding: 0;
}

.h1--home-title
{
    font-size: 1.3em;

    padding: 10px;

    letter-spacing: .8em;
}

.h2--main
{
    font-family: 'freight-sans-pro', Sans-Serif;
    /*#292929;*/
    font-size: 1.4em;
    font-weight: 500;

    text-align: center;
    letter-spacing: .2em;
    text-transform: uppercase;

    color: #292929;
}

.section--projects
{
    height: 200%;
}

.projects--first--container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 50%;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.left
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 30%;
    height: 100%;

    background: #e3e3e3;
    background: -webkit-radial-gradient(center, ellipse cover, #e3e3e3 0%, #bdbdbd 100%);
    background: -webkit-radial-gradient(center ellipse, #e3e3e3 0%, #bdbdbd 100%);
    background:         radial-gradient(ellipse at center, #e3e3e3 0%, #bdbdbd 100%);
    background-color: #bdbdbd;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#bdbdbd', GradientType=1);
}

.right
{
    position: relative;
    left: 30%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 70%;

    background-color: #e3e3e3;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.projects--left
{
    z-index: 1;
    left: 0;

    width: 30%;
    height: 100%;
}

.projects--right
{
    height: 50%;
}

.h2--projects
{
    position: absolute;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100%;
    height: 100%;

    -webkit-transition: background-color .5s ease;
            transition: background-color .5s ease;
    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*
.h2--projects:hover {
  background-color: rgba(227, 227, 227, .5);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
*/

.h2--projects h2
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: 1.7em;

    top: 0;
    left: 0;

    width: 100%;
    padding: 5px 0;

    letter-spacing: 1em;
    letter-spacing: .7em;
    text-transform: uppercase;

    background-color: #e3e3e3;
}

.h2--projects h3
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: .8em;

    left: 0;

    width: 100%;
    margin-top: 2.5px;
    padding: 5px 0;

    letter-spacing: .5em;
    text-transform: uppercase;

    background-color: #e3e3e3;
}

.projects--first--container .projects--right
{
    position: relative;
    left: 0;

    width: 70%;
    height: 100%;
}

.main--downtoearth
{
    display: block;

    width: 100%;
    height: 100%;

    background: url(../images/responsive.png) center center no-repeat;
    background-position: 50% 65%;
    background-size: 90%;
}

.projects--right--heart
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main--heart
{
    display: block;

    width: 100%;
    height: 90%;

    background: url(../images/beating-heart.png) center center no-repeat;
    background-size: contain;
}

.section--about
{
    height: 300%;
}

.about--first--container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 33.3333333%;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about--first--container .about--right
{
    left: 0;

    height: 100%;
}

.about--left
{
    z-index: 2;
}

.about--right
{
    height: 33.3333333%;
}

.h2--about
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: 1.4em;
    font-weight: 500;

    width: 70%;
    padding-top: 36px;
    padding-bottom: 30px;

    text-align: center;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.about--p
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: 1em;
    line-height: 1.5em;

    position: relative;

    width: 70%;
    padding: 50px 10%;

    text-align: justify;
    letter-spacing: .15em;
    text-transform: uppercase;
}

.about--right-skills
{
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.dev-container,
.design-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 40%;
    height: 100%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dev-container p,
.design-container p
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: .9em;
    line-height: 1.5em;

    position: relative;

    width: 100%;
    height: 300px;
    padding: 50px 10%;

    text-align: justify;
    letter-spacing: .15em;
    text-transform: uppercase;
}

.h3--about
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: 1.2em;
    font-weight: 500;

    padding-top: 36px;
    padding-bottom: 30px;

    text-align: center;
    letter-spacing: .2em;
    text-transform: uppercase;

    color: #292929;
}

.icon
{
    overflow: hidden;

    width: 30px;
    height: 30px;
    margin: 10px 0;
}

.ps-icon,
.il-icon,
.css-icon,
.html-icon,
.js-icon,
.jQuery-icon
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: 1.7em;
    font-weight: 500;

    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 70px;
    height: 70px;

    letter-spacing: .05em;

    color: #292929;
    border: 1px solid #292929;
    background-color: #e3e3e3;
    background-size: contain;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.css-icon,
.html-icon,
.js-icon
{
    font-size: 1.6em;
}

.jQuery-icon
{
    font-size: 1.1em;
}

.icon--holder-phone
{
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.icon--holder-phone .icon
{
    margin: 20px;
}

.icon-holder
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon-holder .icon
{
    margin: 10px;
}

.contact--icons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 80%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact--icons li
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: .8em;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    cursor: pointer;
    /*  opacity: .6;*/
    -webkit-transition: opacity .5s ease;
            transition: opacity .5s ease;
    letter-spacing: .1em;
    text-transform: uppercase;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact--icons li:hover
{
    -webkit-transition: opacity .5s ease;
            transition: opacity .5s ease;

    opacity: .6;
}

.contact--icons li span
{
    cursor: pointer;
}

.contact--icons li h4
{
    cursor: pointer;

    opacity: 1;
}

.icon-pen
{
    border: none;
    background: url(../images/code-pen.svg) center center no-repeat;
    background-size: 40px;
}

.icon-gitHub
{
    border: none;
    background: url(../images/gitHub.svg) center center no-repeat;
    background-size: 40px;
}

.icon-twitter
{
    border: none;
    background: url(../images/Twitter_Logo.svg) center center no-repeat;
    background-size: 40px;
}

.icon-mail
{
    border: none;
    background: url(../images/mail.svg) center center no-repeat;
    background-size: 40px;
}


/* JS */

.js-sticky
{
    position: fixed;
    top: 0;
    left: 0;
}
.js-no-sticky
{
    margin-left: 30%;
}
.js-sticky-right
{
    position: fixed;
    top: 0;
    right: 0;

    height: 100%;
}



.js-display-flex
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-transition: all .2s ease;
            transition: all .2s ease;
    -webkit-animation: nav--mobile-in .5s ease 0s forwards;
            animation: nav--mobile-in .5s ease 0s forwards;
}

.js-nav-btn-opacity
{
    -webkit-transition: background-color .5s ease;
            transition: background-color .5s ease;

    background-color: rgba(189, 189, 189, 1);
}

@-webkit-keyframes nav--mobile-in
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes nav--mobile-in
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}


/* ANIMATION */

.main--ani-in,
.main--ani
{
    position: absolute;
    z-index: 10;

    width: 0;
    height: 1000%;

    background-color: #e3e3e3;
}

.js--main--ani-start
{
    -webkit-animation: main--ani-in .5s ease-in-out forwards;
            animation: main--ani-in .5s ease-in-out forwards;
}

@-webkit-keyframes main--ani-in
{
    to
    {
        width: 100%;
    }
}

@keyframes main--ani-in
{
    to
    {
        width: 100%;
    }
}

.main--ani
{
    right: 0;

    width: 100%;

    -webkit-animation: main--ani .7s ease-in-out .5s forwards;
            animation: main--ani .7s ease-in-out .5s forwards;
}

.projects--ani
{
    position: absolute;
    z-index: 50;
    right: 0;

    width: 100%;
    width: 0;
    height: 100%;

    background-color: #e3e3e3;
}

@-webkit-keyframes main--ani
{
    to
    {
        width: 0;
    }
}

@keyframes main--ani
{
    to
    {
        width: 0;
    }
}


/* GLOBAL */

#information
{
    position: absolute;
    top: 0;
}

.cursor
{
    cursor: pointer;
}


/* MEDIA QUERIES */

@media (max-width: 937px)
{
    .js-sticky
    {
        position: relative;
        top: 0;
        left: 0;
    }
    .js-sticky-right
    {
        position: relative;
        top: 0;
        right: 0;
    }
    .js-no-sticky
    {
        margin-left: 0;
    }
    .nav--main-site
    {
        display: none;
    }
    .nav--home
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: row;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
    }
    .nav--home ul
    {
            flex-direction: row;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
    }
    .projects--first--container .projects--right
    {
        width: 100%;
    }
    .section--projects
    {
        height: 300%;
    }
    .projects--first--container
    {
            flex-direction: column;

        height: 66.6666666%;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    .projects--left,
    .about--left
    {
        width: 100%;
    }
    .projects--right--downtoearth
    {
        width: 100%;
    }
    .projects--right--heart
    {
        left: 0;

        width: 100%;
        height: 33.3333333%;
    }
    .section--about
    {
        height: 400%;
    }
    .about--first--container
    {
            flex-direction: column;

        height: 50%;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    .about--right
    {
        left: 0;

        width: 100%;
        height: 25%;
    }
    nav ul
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    .contact--icons li
    {
        opacity: 1;
    }
}

@media (max-width: 600px)
{
    .main--downtoearth
    {
        background: url(../images/responsive-small.png) center center no-repeat;
        background-size: contain;
    }
    .about--right-skills
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    .icon--holder-phone
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: row;

        width: 60%;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .icon-holder
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .h3--about
    {
        margin-bottom: 50px;
    }
    .icon--holder-phone .icon
    {
        margin: 10px;
    }
    .about--p
    {
        width: 100%;
    }
    .dev-container,
    .design-container
    {
        width: 100%;
    }
}

@media (max-width: 399px)
{
    .h2--projects h2
    {
        font-size: 1.4em;
    }
    .about--p
    {
        font-size: .8em;
        line-height: 1.5;

        width: 100%;
        height: 300px;
        padding: 20px 10%;

        letter-spacing: .1em;
    }
    .h2--about
    {
        font-size: 1em;

        width: 100%;
        padding: 0;
    }
    .dev-container p,
    .design-container p
    {
        font-size: .8em;
        line-height: 1.5;

        letter-spacing: .1em;
    }
    .design-container
    {
        overflow-y: visible;

        margin-top: 100px;
    }
    .about--right-contact
    {
        margin-top: 150px;
    }
    .icon--holder-phone
    {
        width: 100%;
    }
}


/* PROJECTS */

.btn-container
{
    position: fixed;
    z-index: 800;

    display: none;
        flex-direction: column;

    width: 100%;
    height: 100%;

    -webkit-transition: -webkit-transform .3s linear;
            transition: -webkit-transform .3s linear;
            transition:         transform .3s linear;
            transition:         transform .3s linear, -webkit-transform .3s linear;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);

    opacity: .7;
    background-color: transparent;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.btn-container-in
{
    -webkit-transition: -webkit-transform .3s linear;
    -webkit-transition: -webkit-transform .5s linear;
            transition: -webkit-transform .3s linear;
            transition: -webkit-transform .5s linear;
            transition:         transform .5s linear;
            transition:         transform .5s linear, -webkit-transform .5s linear;
            transition:         transform .5s linear, -webkit-transform .0s linear;
            transition:         transform .5s linear, -webkit-transform 0s linear;
            transition:         transform .5s linear, -webkit-transform 0s linear;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

.button
{
    position: fixed;
    z-index: 900;
    z-index: 900;
    top: 0;
    left: 0;

    display: none;
    overflow: hidden;
        flex-direction: column;

    width: 50px;
    height: 50px;
    padding: 15px;

    cursor: pointer;
    -webkit-transition: left .3s linear forwards;
            transition: left .3s linear forwards;

    background-color: #e3e3e3;
    background-color: rgba(227, 227, 227, .85);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    /*background-color: #E3E3E3;*/
}

.btn-por
{
    background-color: transparent;
}

@media (max-width: 937px)
{
    .button
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.ham
{
    z-index: 900;

    width: 20px;
    height: 2px;

    cursor: pointer;
    -webkit-transition: -webkit-transform .3s linear;
            transition: -webkit-transform .3s linear;
            transition:         transform .3s linear;
            transition:         transform .3s linear, -webkit-transform .3s linear;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);

    background-color: #292929;
}

.button .ani:nth-child(2)
{
    -webkit-transition: -webkit-transform .1s linear;
            transition: -webkit-transform .1s linear;
            transition:         transform .1s linear;
            transition:         transform .1s linear, -webkit-transform .1s linear;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
}

.button .ani:nth-child(1)
{
    -webkit-transition: -webkit-transform .3s linear .1s;
            transition: -webkit-transform .3s linear .1s;
            transition:         transform .3s linear .1s;
            transition:         transform .3s linear .1s, -webkit-transform .3s linear .1s;
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
    -webkit-transform-origin: center;
            transform-origin: center;
}

.button .ani:nth-child(3)
{
    -webkit-transition: -webkit-transform .3s linear .1s;
            transition: -webkit-transform .3s linear .1s;
            transition:         transform .3s linear .1s;
            transition:         transform .3s linear .1s, -webkit-transform .3s linear .1s;
    -webkit-transform: translateY(-6px) rotate(-45deg);
            transform: translateY(-6px) rotate(-45deg);
}

.btn-move
{
    -webkit-transition: background-color .3s linear .1s;
            transition: background-color .3s linear .1s;

    background-color: #e3e3e3;
}

.nav-main
{
    /*
  opacity: 0;
  -webkit-animation: opacity .3s linear 1s forwards;
  animation: opacity .3s linear 1s forwards;
*/
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: .9em;

    position: absolute;
    bottom: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 50px;

    -webkit-transition: color .2s ease;
            transition: color .2s ease;
    letter-spacing: .1em;
    text-transform: uppercase;

    opacity: 1;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav ul li
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: .75em;

    z-index: 200;

    display: inline-block;

    -webkit-transition: color .2s ease;
            transition: color .2s ease;
    letter-spacing: .05em;

    color: #292929;
    /*
  opacity: 0;
  -webkit-animation: opacity .3s linear 1s forwards;
  animation: opacity .3s linear 1s forwards;
*/
}

nav ul li a,
nav ul li a:visited
{
    cursor: pointer;
    -webkit-transition: opacity .2s ease;
            transition: opacity .2s ease;
    text-align: center;

    opacity: 1;
    color: #292929;
}

nav ul li a:hover
{
    -webkit-transition: opacity .2s ease;
            transition: opacity .2s ease;

    opacity: .6;
}

.nav-pro
{
    /*  opacity: 0;*/
    width: 60%;

    -webkit-transition: width .2s ease;
            transition: width .2s ease;
    /*
  -webkit-animation: opacity .3s linear 1s forwards;
  animation: opacity .3s linear 1s forwards;
*/
}

#line
{
    font-weight: 600!important;
}


/*.nav-about ul li a:hover {
  color: ;
}*/

@media (max-width: 937px)
{
    .nav-main
    {
        display: none;
    }
}

h1,
h2
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: .875em;
    font-weight: lighter;

    padding-top: 36px;

    text-align: center;
    letter-spacing: .2em;

    color: #292929;
}

h1
{
    font-size: 1.8em;
    font-size: 1.6em;
    font-weight: 500;
    font-weight: 500;

    z-index: 10;

    width: 100%;

    text-align: center;
    text-transform: uppercase;

    color: #292929;
}

h3
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: .6em;

    position: relative;

    margin-top: 10px;

    letter-spacing: .1em;
    text-transform: uppercase;

    opacity: 1;
}

.pro-left,
.pro2-left,
.about-left,
.about2-left
{
    position: relative;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 30%;
    height: 100%;

    opacity: 1;
    background: #e3e3e3;
    background: -webkit-radial-gradient(center, ellipse cover, #e3e3e3 0%, #bdbdbd 100%);
    background: -webkit-radial-gradient(center ellipse, #e3e3e3 0%, #bdbdbd 100%);
    background:         radial-gradient(ellipse at center, #e3e3e3 0%, #bdbdbd 100%);
    background-color: #bdbdbd;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#bdbdbd', GradientType=1);
    /* 0 */
    /* animation: opacity .3s linear 1s forwards;/* #3b3b3b*/
}

@media (max-width: 937px)
{
    .pro-left,
    .pro2-left,
    .about-left,
    .about2-left
    {
        width: 100%;
        height: 100%;
    }
}

.pro-left h2,
.about-left h2
{
    /*#292929;*/
    font-size: 1.4em;
    font-weight: 500;

    text-transform: uppercase;

    color: #292929;
    /*
  opacity: 0;
  -webkit-animation: opacity .3s linear 1s forwards;
  animation: opacity .3s linear 1s forwards;
*/
}

@media (max-width: 937px)
{
    .pro-left h2,
    .about-left h2
    {
        font-size: 1.6em;

        width: 100%;
    }
}

.desktop
{
    width: 100%;
    height: 100%;

    -webkit-transition: backgorund-position .2s linear;
            transition: backgorund-position .2s linear;

    background: url(../images/responsive.png) center center no-repeat;
    background-position: 50% 65%;
    background-size: 90%;
}

.main a
{
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.beating-heart
{
    width: 100%;
    height: 90%;

    background: url(../images/beating-heart.png) center center no-repeat;
    background-size: contain;
}

@media (max-width: 937px)
{
    .desktop
    {
        -webkit-transition: backgorund-position .2s linear;
                transition: backgorund-position .2s linear;

        background-position: center;
    }
}

.active
{
    font-weight: 600 !important;

    color: #292929 !important;
}

.code-pen,
.codrops
{
    z-index: 5000;

    width: 50px;
    height: 50px;

    cursor: pointer;

    opacity: 1;
    background: url(../images/code-pen.svg) center center no-repeat;
    background-size: contain;
}

.code-pen
{
    margin-top: 10px;
}

.codrops
{
    background: url(../images/link.svg) center center no-repeat;
    background-size: 16px 16px;
}

.link-to-site-container
{
    margin-bottom: 10px;

    -webkit-transition: opacity .5s ease;
            transition: opacity .5s ease;

    opacity: 1;
}

.link-to-site-container:hover
{
    -webkit-transition: opacity .5s ease;
            transition: opacity .5s ease;

    opacity: .6;
}


/* PORT PAGE */

.sideBar
{
    position: fixed;
}

@media (max-width:937px)
{
    .sideBar
    {
        position: relative;
    }
}

.pro-left-port
{
    position: fixed;
    /* #bdbdbd */
    z-index: 3;
    top: 0;
    left: 0;

    width: 30%;

    opacity: 1;
    background-color: #bdbdbd;
    box-shadow: none;
    /* 0 */
    /* animation: opacity .3s linear 1s forwards; */
}

@media (max-width:937px)
{
    .pro-left-port
    {
        position: relative;

        width: 100%;
        height: 40%;
    }
}

@media (max-width: 695px)
{
    .pro-left-port
    {
        height: 50%;
    }
}

.pro-left-port p
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: .8em;
    line-height: 1.5em;

    position: relative;

    width: 80%;
    padding: 50px 10%;
    padding-bottom: 50px;

    text-align: justify;
    letter-spacing: .15em;
    text-transform: uppercase;
}

.pro-left-port p span
{
    text-transform: lowercase;
}

@-webkit-keyframes opacity
{
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes opacity
{
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 1;
    }
}

.main
{
    position: absolute;
    top: 0;
    right: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    width: 70%;
    height: 100%;

    background-color: #e3e3e3;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main--heart-projects
{
    background-color: #371b1b;
}

@media (max-width:937px)
{
    .main
    {
        position: relative;
        top: -60%;

        width: 100%;
        height: 60%;
    }
}

@media (max-width: 695px)
{
    .main
    {
        top: -50%;
    }
    .heart-frame
    {
        height: 100%;
    }
}

.heart-port-page
{
    height: 90%;
}

.port-heart
{
    width: 100%;

    background-color: #e3e3e3;
}

.h3-port
{
    color: #292929;
}

.h3-port-btm
{
    margin-top: 0;
    margin-bottom: 20px;
}

.back-container
{
    z-index: 10;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 40px;
    height: 40px;
    padding: 10px;

    cursor: pointer;
    -webkit-transition: opacity .2s ease 0s;
            transition: opacity .2s ease 0s;

    opacity: 1;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.back-container:hover > .arrow
{
    -webkit-transition: opacity .5s ease;
            transition: opacity .5s ease;

    opacity: .6;
}

@media (max-width:937px)
{
    .back-container
    {
        position: relative;
        top: 20px;

        cursor: pointer;
    }
}

.arrow
{
    width: 20px;
    height: 15.8px;

    cursor: pointer;

    background: url(../images/arrow.png) center center no-repeat;
    background-size: contain;
}

.back-container:hover
{
    -webkit-transition: opacity .2s ease 0s;
            transition: opacity .2s ease 0s;

    opacity: 1;
}

.arrow-link
{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.link-to-site
{
    font-family: 'freight-sans-pro', Sans-Serif;
    font-size: .6em;

    position: relative;

    margin-top: 10px;

    cursor: pointer;
    letter-spacing: .1em;
    text-transform: uppercase;

    color: #292929;
}

.link-to-site-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    height: 50px;

    cursor: pointer;
    -webkit-transition: opacity .2s ease 0s;
            transition: opacity .2s ease 0s;

    opacity: 1;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

@media (max-width: 937px)
{
    .mobile-link-to-site
    {
        display: none;
    }
    .link-to-site-container
    {
        position: relative;
        bottom: 10px;
    }
}

.heart-frame
{
    width: 100%;
    height: 100%;
}

.wrap-port
{
    overflow: hidden;

    background-color: #e3e3e3;
}

@media (max-width:937px)
{
    .wrap-port
    {
        height: 200%;
    }
}

.sml-screen-info
{
    display: none;
}

@media screen and (orientation:portrait) and (max-device-width: 400px)
{
    .desktop
    {
        display: none;
    }
    .nav--home
    {
        display: none;
    }
    .wrap-port
    {
        height: 100%;
    }
    .sideBar
    {
        height: 100%;
    }
    .pro-left-port
    {
        height: 100%;
    }
    .pro-left-port p
    {
        width: 100%;
    }
    .nav ul li a:hover
    {
        opacity: 1;
    }
}

@media screen and (orientation:landscape) and (max-device-width: 480px)
{
    .main--downtoearth
    {
        background: url(../images/responsive.png) center center no-repeat;
        background-size: contain;
    }
    .nav--home
    {
        display: none;
    }
    .section--about
    {
        height: 700%;
    }
    .nav--main ul li
    {
        font-size: .5em;
    }
    .nav ul li a:hover
    {
        opacity: 1;
    }
    .desktop
    {
        display: none;
    }
    .wrap-port
    {
        height: 200%;
    }
    .sideBar
    {
        height: 100%;
    }
    .pro-left-port
    {
        height: 100%;
    }
    .pro-left-port p
    {
        width: 100%;
    }
    .contact--icons
    {
            flex-direction: row;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
    }
}

@media (max-width: 400px)
{
    .pro-left-port p
    {
        padding-bottom: 0;
    }
    .pro-left-port p .sml-screen-info
    {
        font-size: .75em;

        display: block;

        padding-top: 10px;

        text-align: center;
        text-transform: uppercase;
    }
    .nav--home
    {
        display: none;
    }
}

@media (max-width: 1139px)
{
    .h1--home-name
    {
        font-size: 5em;
    }
}

@media (max-width: 961px)
{
    .h1--home-name
    {
        font-size: 4em;
    }
}

@media (max-width: 782px)
{
    .h1--home-name
    {
        font-size: 3.5em;
    }
    .h1--home-title
    {
        font-size: 1em;
    }
}

@media (max-width: 672px)
{
    .h1--home-name
    {
        font-size: 3em;
    }
    .h1--home-title
    {
        font-size: .9em;
    }
    .section--home
    {
        border-width: 15px;
    }
}

@media (max-width: 597px)
{
    .h1--home-name
    {
        font-size: 2.5em;
    }
    .h1--home-title
    {
        font-size: .8em;
    }
}

@media (max-width: 489px)
{
    .h1--home-name
    {
        font-size: 2.3em;
    }
    .h1--home-title
    {
        font-size: .7em;
    }
    .section--home
    {
        border-width: 0;
    }
}

.test-in
{
    position: fixed;
    top: 0;
    left: 0;
}
.test-scroll2
{
    justify-content: flex-end;
}
.js-sticky-right
{
    position: fixed!important;
    top: 0;

    height: 100%;
    margin-left: 30%;
}
