//////// highlighting for dev purposes /////
$border-dev-blue: 1px solid rgb(31, 143, 207);
$border-dev-green: 1px solid rgb(44, 163, 162);
$border-dev-red: 1px dashed rgb(163, 44, 44);
$border-dev-purple: 2px dashed rgb(192, 43, 200);

/////////////////////
////////FONTS////////
/////////////////////

$font-family: "freight-sans-pro", Sans-Serif;

/// FONT SIZES ///
$sidebar-title-fontsize: 1.4em;

$project-title-size: 1.7em;
$project-view-size: 0.8em;

$about-title-text: 1.4em;

$main-text: 1em;

/// LETTER-SPACING ///
$sidebar-title-letterspacing: 0.2em;

/// LINE-HEIGHT ///

/////////////////////
////////COLOURS////////
/////////////////////
$black: #292929;
$light-grey: #e3e3e3;
$dark-grey: #bdbdbd;

////////LAYOUT - DESKTOP ////////

////////LAYOUT - MOBILE ////////
