//////// highlighting for dev purposes /////
$border-dev-blue: 1px solid rgb(31, 143, 207);
$border-dev-green: 1px solid rgb(44, 163, 162);
$border-dev-red: 1px dashed rgb(163, 44, 44);
$border-dev-purple: 2px dashed rgb(192, 43, 200);

/////////////////////
////////FONTS////////
/////////////////////

$font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

/// FONT SIZES ///
$h1-home--name-size: 1.6em;
$h1-home--title-size: 1em;

$sidebar-title-fontsize: 1.4em;
$sidebar-h4-fontsize: 0.6em;
$sidebar-nav-title-fontsize: 1.4em;

$project-title-size: 1.7em;
$project-view-size: 0.8em;

$about-title-size: 1.4em;
$h3-about--skills-size: 1.2em;
$about-p-size: 1em;
$p-about-skills-size: 0.9em;
$main-text: 1em;

/// LETTER-SPACING ///
$sidebar-title-letterspacing: 0.2em;
$sidebar-h4-letterspacing: 0.2em;
$sidebar-nav-title-letterspacing: 0.2em;
$project-title-letterspacing: 0.7em;
$project-view-letterspacing: 0.5em;
$h1-home--name-letterspacing: 0.4em;
$h1-home--title-letterspacing: 0.3em;
$h2-about--title-letterspacing: 0.2em;
$h3-about--skills-letterspacing: 0.2em;
$p-about-letterspacing: 0.15em;

/// LINE-HEIGHT ///
$h2-about--title-lineheight: 1.2em;
$p-about-lineheight: 1.7em;
$p-about-skills-lineheight: 1.5em;

////////COLOURS////////

$black: #292929;
$light-grey: #e3e3e3;
$dark-grey: #bdbdbd;

////////LAYOUT - DESKTOP ////////

/// SIDEBAR ///
$sidebar-height: 100vh;
$sidebar-width: 30vw;

/// main ///
$main-height: 100vh;
$main-width: 70vw;

/// main project ///
$main-project-height: 100vh;
$main-project-width: 70vw;

////////LAYOUT - MOBILE ////////
