/* JS */

.js-sticky {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.js-no-sticky {
  margin-left: 30%;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.js-sticky-right {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.js-nav-hide {
  transform: translateX(-30vw);
  transition: all .2s ease-in 0s;
}

.js-nav-darken-show {
  display: block;
  transform: translateX(0vw);
  opacity: .5;
  transition: opacity .5s ease 0s;
}

.js-nav-click-overflow {
  overflow-y: hidden;
}

.js-blur {
  -webkit-filter: blur(0.2em);
  filter: blur(0.5em);
}
