@import "normalize";
@import "config";
@import "mixins";

// * {
//   transition: all 0.2s ease;
// }

*::selection {
  background: $dark-grey;
}

html {
  height: 100vh;
  width: 100vw;
  background-color: $light-grey;

  // overflow: hidden; add class when new project page is displayed
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;

  // add class HIDDEN when new project page is displayed
  font-size: 16px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(41, 41, 41, 0.004);
}

.btn-nav {
  height: 50px;
  width: 50px;
  background: $light-grey;

  // background: rgba(227, 227, 227, 0.8);
  // background: rgba(227, 227, 227, 1);
  background: rgba($black, 0.5);

  // border: $border-dev-green;
  position: fixed;
  top: 0;
  left: 20px;
  z-index: 9999999;
  overflow: hidden;
  cursor: pointer;

  @include flexbox;

  @include mobile-portrait-query {
    top: auto;

    // bottom: 0;
    margin: auto;
    left: auto;
    background: rgba(227, 227, 227, 1);
    background: rgba($black, 0.5);
    width: 100vw;
  }


  @include tablet-landscape-query {
    // display: none;
  }


  span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: $light-grey;
    margin: 1.5px;
    cursor: pointer;
    transition: all 0.2s ease;

    @include mobile-portrait-query {
      background-color: $light-grey;
    }
  }

  // span:nth-child(2) {
  //   transition: all 0s;
  // }
}

.nav-desktop {
  position: fixed;
  height: 100vh;
  width: 30vw;
  z-index: 999;

  @include flexbox;

  @include sidebar-gradient;

  // background: $light-grey;
  transform: translateX(-30vw);
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform .5s linear 0s;

  @include desktop-query {
    background: transparent;
    width: 100vw;
    z-index: 99999;
    transform: translateX(-100vw);
    opacity: 0;
  }


  @include mobile-portrait-query {
    // transition: opacity 0.5s ease 0s;

    // height: 50px;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    top: auto;
    bottom: 0;
    transform: translateX(-100vw);
    background: rgba($black, 0.7);
    transition: color 0.5s ease 0.3s;
  }


  @include tablet-landscape-query {
    height: 100vh;
    width: 30vw;
    transform: translateX(-30vw);
    opacity: 0;
    transition: opacity 0.5s ease 0s, transform .5s linear 0s;
  }


  @include tablet-portrait-query {
    background: rgba($black, 0.7);
    transition: color 0.5s ease 0s;
  }


  ul {
    width: 100%;
    text-align: center;

    @include mobile-portrait-query {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: 50px;
    }


    @include tablet-landscape-query {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    @include tablet-portrait-query {
      flex-direction: column;
    }
  }

  ul li a {
    display: block;
    margin: 50px 0;
    width: 100%;

    // border: $border-dev-green;

    @include font-properties($font-size: $sidebar-nav-title-fontsize, $letter-spacing: $sidebar-nav-title-letterspacing);

    @include desktop-query {
      color: $light-grey;
      font-size: 2em;
    }


    @include mobile-portrait-query {
      color: $light-grey;
      font-size: 2em;
    }


    @include tablet-portrait-query {
      color: $light-grey;
      font-size: 2em;
    }
  }

  ul li ul {
    width: 100%;
    margin: auto;

    @include mobile-portrait-query {
      display: none;
    }


    @include tablet-landscape-query {
      display: flex;
      flex-direction: row;
      margin-top: -50px;
    }


    // border: $border-dev-green;

  }

  .main-link {
    margin: 0;

    @include mobile-portrait-query {
      margin: 50px 0;
    }


    @include tablet-landscape-query {
      margin: 50px 0;
    }


    @include tablet-portrait-query {
      margin: 50px 0;
    }
  }

  .icon-container {
    width: 100%;
    height: 24px;

    @include flexbox($direction: row);

    position: absolute;
    top: 95vh;

    @include desktop-query {
      display: none;
    }


    @include tablet-landscape-query {
      margin-top: -60px;
    }


    @include mobile-portrait-query {
      display: none;
    }


    .icon-links {
      margin: 10px;
      opacity: .5;
      transition: all 0.2s ease;
    }

    .icon-links:hover {
      opacity: 1;
      transition: all 0.2s ease;
    }
  }
}

.nav-projects-page {
  @include tablet-landscape-query {
    display: none;
  }
}

.tablet-titles {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  @include tablet-landscape-query {
    @include flexbox;

    width: 30vw;
    text-align: center;

    h1 {
      @include font-properties($font-size: 1em, $letter-spacing: $h1-home--name-letterspacing);

      margin-bottom: 0px;

      @include tablet-landscape-query {
        font-size: 1.2em;
        letter-spacing: 0.2em;
      }
    }

    h2, h3 {
      @include font-properties($font-size: $h1-home--title-size, $letter-spacing: 0.2em);

      margin-bottom: 0px;

      @include tablet-landscape-query {
        font-size: .6em;
      }
    }
  }
}

.nav-darken {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 30vw;
  background-color: $black;
  z-index: 999;
  display: block;
  transform: translateX(100vw);
  opacity: 0;
  transition: opacity .3s ease 0s, transform 0s linear .3s;

  @include desktop-query {
    width: 100vw;
    left: 0;
  }


  @include mobile-portrait-query {
    left: 0;
  }
}

.mini-nav {
  @include flexbox($direction: row, $justify: center);

  margin-top: 0;

  // border: $border-dev-green;

  .mini-nav-h4 a {
    @include font-properties($font-size: 0.65em, $letter-spacing: $sidebar-h4-letterspacing, $line-height: 0);

    margin: 10px 0 50px 0;

    @include desktop-query {
      color: $light-grey;
    }
  }

  li:nth-child(2), li:nth-child(4) {
    margin: 0 5px;
    margin: 10px 5px 50px 5px;
    cursor: default;

    @include desktop-query {
      color: $light-grey;
    }
  }

  @include mobile-portrait-query {
    display: none;
  }
}

.wrap {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  transition: filter .3s ease 0s;
}

.blinder:after {
  @include pseudo;

  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: $light-grey;
}

section {
  @include flexbox;

  background-color: $light-grey;
}

.h1-home--container {
  height: 100vh;
  width: 70vw;

  @include flexbox;

  background-color: $light-grey;
  background: url("../images/header-test.jpeg") center left no-repeat;
  background-size: cover;

  @include mobile-portrait-query {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }


  @include tablet-portrait-query {
    position: fixed;
  }


  @include tablet-landscape-query {
    top: 0;
    left: 0;
    margin-left: 30vw;

    // position: fixed;
  }
}

.h1-home--container:after {
  @include pseudo;

  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba($dark-grey, 0.2);

  @include mobile-portrait-query {
    display: none;
    height: 0;
    width: 0;

    // position: fixed;
  }


  @include tablet-landscape-query {
    display: block;
    height: 100vh;
    width: 70vw;
  }
}

.container {
  height: 100vh;
  width: 100vw;

  @include flexbox($direction: row);

  // @include desktop-query {
  //   flex-direction: column;
  //   height: auto;
  // }

  @include desktop-query {
    flex-direction: column;
    height: auto;
  }


  @include mobile-portrait-query {
    flex-direction: column;
    height: auto;
  }


  @include tablet-landscape-query {
    flex-direction: row;
    height: 100vh;
  }


  z-index: 1;
}

.container-projects-d2e {
  position: relative;
}

.container-projects--heart {
  width: 70vw;
  margin-left: 30vw;

  @include mobile-portrait-query {
    margin: 0;
  }


  @include tablet-landscape-query {
    margin-left: 30vw;
  }


  @include desktop-query {
    margin: 0;
  }
}

.container--about {
  height: auto;
}

.sidebar {
  height: $sidebar-height;
  width: $sidebar-width;

  @include sidebar-gradient;

  @include flexbox;

  z-index: 900;

  @include mobile-portrait-query {
    width: 100vw;
    opacity: 1;
  }


  @include tablet-landscape-query {
    width: 30vw;
  }
}

.sidebar--projects, .sidebar--about {
  @include mobile-portrait-query {
    height: 100vh;
  }


  @include desktop-query {
    width: 100vw;
  }


  @include tablet-portrait-query {
    height: 100vh;
  }
}

// .sidebar--projects-main {
//   margin-top: 25px;
// }

.sidebar--projects-page {
  @include mobile-portrait-query {
    height: 50vh;
  }


  @include tablet-landscape-query {
    opacity: 1;
  }


  @include mobile-portrait-query {
    height: 100vh;
  }
}

.sidebar--projects-page--heart {
  @include mobile-portrait-query {
    height: 53vh;
  }


  @include mobile-portrait-query {
    height: 100vh;
  }
}

.sidebar h2 {
  @include font-properties($font-size: $sidebar-title-fontsize, $letter-spacing: $sidebar-title-letterspacing);

  margin: 0;
  width: 100%;
  text-align: center;

  @include mobile-portrait-query {
    font-size: $project-title-mobile;
  }


  @include mobile-portrait-query {
    font-size: 2em;
  }


  @include tablet-landscape-query {
    font-size: 1.4em;
  }
}

.header-home {
  height: 100vh;
  width: 100vw;

  @include flexbox($direction: row);

  z-index: 0;
  text-align: center;

  h1 {
    @include font-properties($font-size: $h1-home--name-size, $letter-spacing: $h1-home--name-letterspacing);
  }

  h2, h3 {
    @include font-properties($font-size: $h1-home--title-size, $letter-spacing: 0.2em);
  }

  @include mobile-portrait-query {
    position: relative !important;
    margin: 0 !important;
  }
}

.sidebar--projects ul, .sidebar--about ul {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @include font-properties($font-size: 0.65em, $letter-spacing: $sidebar-h4-letterspacing);

  @include mobile-portrait-query {
    font-size: .8em;
  }


  @include tablet-landscape-query {
    font-size: .65em;
  }


  span {
    margin: 0px 10px;
  }
}

.sidebar--projects-page {
  h2 {
    @include mobile-portrait-query {
      font-size: $project-title-size;
    }


    @include tablet-landscape-query {
      font-size: 1.4em;
    }
  }
}

.sidebar--projects-page h4 {
  @include font-properties($font-size: $sidebar-h4-fontsize, $letter-spacing: $sidebar-h4-letterspacing);

  margin-top: 10px;
}

.sidebar--projects-page p {
  @include font-properties($font-size: 0.8em, $line-height: 1.5, $letter-spacing: 0.15em);

  text-align: justify;
  padding: 10%;

  @include tablet-portrait-query {
    padding: 0 7%;
  }
}

.sidebar--home {
  @include sidebar-gradient;

  @include mobile-portrait-query {
    background: transparent;
    background-color: rgba(227, 227, 227, 0.7);
    position: fixed;
  }


  @include tablet-portrait-query {
    position: fixed;
  }
}

.sidebar--home, .sidebar--projects, .sidebar--about {
  @include tablet-landscape-query {
    opacity: 1;
  }
}

.sidebar--projects-page {
  @include mobile-portrait-query {
    position: relative !important;
    opacity: 1;
    transform: translateX(0);
    top: 0;
  }
}

.main {
  height: $main-height;
  width: $main-width;
  background: $light-grey;

  // position: relative;

  @include flexbox;

  @include mobile-portrait-query {
    width: 100vw;
  }


  @include tablet-landscape-query {
    width: 70vw;
  }


  @include desktop-query {
    width: 100vw;
  }
}

.main-projects h3, .main-projects h4 {
  z-index: 5;
  cursor: pointer;
}

.main-projects h3 {
  background-color: rgba($light-grey, 1);
  padding: 5px 0;
  width: 100%;
  opacity: 1;

  // border: $border-dev-green;

  // width: 45%;
  text-align: center;

  @include font-properties($font-size: $project-title-size, $letter-spacing: 0.2em);

  transition: background-color .2s ease, color .2s ease, opacity .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;

  @include mobile-portrait-query {
    top: 0px;

    // margin-top: 50px;
    background-color: $dark-grey;
  }
}

.main-projects h4 {
  background-color: rgba($light-grey, 1);
  padding: 5px 0;
  width: 100%;
  margin: 0;
  margin-top: 32px;
  opacity: 1;

  // width: 30vw;
  text-align: center;
  transition: background-color .2s ease, color .2s ease, opacity .5s ease;

  @include font-properties($font-size: $project-view-size, $letter-spacing: $project-view-letterspacing);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  @include mobile-portrait-query {
    margin-top: 34px;
    display: none;
  }


  // @include tablet-landscape-query {
  //   display: block;
  //   margin-top: 34px;
  // }
}

.container--about {
  min-height: 100vh;
  background-color: $light-grey;

  // border: $border-dev-red;
  @include desktop-query {
    margin-top: 100vh;
  }


  @include mobile-portrait-query {
    margin-top: 0;
  }
}

.main-projects {
  position: relative;

  @include mobile-portrait-query {
    height: 100vh;
  }


  @include mobile-landscape-query {
    height: 100vh;
  }


  @include tablet-portrait-query {
    height: 60vh;
  }


  @include tablet-landscape-query {
    height: 100vh;
  }
}

.main-projects--heart {
  @include mobile-portrait-query {
    height: 100vh;
  }


  @include mobile-landscape-query {
    height: 80vh;
  }


  @include tablet-portrait-query {
    height: 60vh;
  }


  @include tablet-landscape-query {
    height: 100vh;
  }
}

.main-projects--heart img {
  // position: absolute;
  height: 95vh;

  // border: $border-dev-green;

  @include mobile-portrait-query {
    height: 49vh;
  }


  @include tablet-landscape-query {
    height: 90vh;
  }


  @include tablet-portrait-query {
    pointer-events: none;
  }
}

.main-projects--d2e {
  @include mobile-portrait-query {
    height: 60vh;
  }
}

.main-projects--d2e img {
  // background: url(../images/Devices-Mockup.png) center no-repeat;
  // background-size: 65vw;

  width: 55vw;

  // border: $border-dev-green;

  @include desktop-query {
    width: 90vw;
  }


  @include mobile-portrait-query {
    width: 95vw;
  }


  @include mobile-landscape-query {
    width: 70vw;
  }


  @include tablet-landscape-query {
    width: 65vw;
  }


  @include tablet-portrait-query {
    pointer-events: none;
  }
}

.projects-page--heart {
  @include mobile-portrait-query {
    height: 47vh;
  }
}

.projects-page--d2e img {
  @include mobile-portrait-query {
    width: 60vh;

    // height: 50vh;
  }
}

.projects-page--d2e, .projects-page--heart {
  @include mobile-portrait-query {
    height: 50vh;
  }


  @include mobile-portrait-query {
    height: 100vh;
  }
}

.main-about-info {
  height: auto;

  // border: $border-dev-green;
  @include desktop-query {
    height: 100vh;
  }


  @include mobile-portrait-query {
    height: auto;
  }
}

// .sidebar {
//   display: none;
// }
.h2-about--info {
  padding: 36px 0 30px 0;
  text-align: center;

  @include font-properties($font-size: $about-title-size, $letter-spacing: $h2-about--title-letterspacing, $line-height: $h2-about--title-lineheight);
}

.about-p {
  padding: 0 10%;

  //TODO iii) kill padding on smaller sizes
  text-align: justify;

  @include font-properties($font-size: $about-p-size, $letter-spacing: $p-about-letterspacing, $line-height: $p-about-lineheight);
}

.container--about-skills {
  position: relative;
  justify-content: flex-end;
  overflow: hidden;
  height: auto;
  background: transparent;
  width: 70vw;
  margin-left: 30vw;

  @include desktop-query {
    margin: 0;
    width: 100vw;
  }


  @include mobile-portrait-query {
    width: 100vw;
    margin-left: 0;
  }


  @include tablet-landscape-query {
    // margin-left: 30vw;
    width: 100vw;
    padding-left: 30vw;
  }
}

.main-about--skills {
  height: auto;
  overflow-x: hidden;
  background-color: $light-grey;

  @include mobile-portrait-query {
    width: 100vw;
  }


  div p {
    @include font-properties($font-size: 1em, $letter-spacing: 0.15em, $line-height: 1.7em);

    text-align: justify;
    padding: 50px 10%;
    width: 100%;

    @include mobile-portrait-query {
      font-size: 1em;
      letter-spacing: 0.15em;
      line-height: 1.7em;
      width: 100%;
      padding: 50px 10%;
    }
  }
}

.dev-container, .design-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.h3-about--skills {
  @include font-properties($font-size: $h3-about--skills-size, $letter-spacing: $h3-about--skills-letterspacing);

  text-align: center;

  @include mobile-portrait-query {
    font-size: 1.4em;
    letter-spacing: 0.2em;
    line-height: 1.2em;
    padding: 36px 0 30px 0;
  }
}

.container-icon-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-skills {
  border: 1px solid $black;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 20px;

  @include flexbox;

  @include font-properties($font-size: 1em, $letter-spacing: 0.05em);
}

.main-projects {
  // border: $border-dev-green;
}

//beating heart projects page

iframe {
  // display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  outline: none;
  border-width: 10px;
  border-style: none;
  border-color: initial;
  border-image: initial;
  position: absolute;
  opacity: 0;
  transform: translateX(100vw);
  transition: opacity .5s ease, transform 0s linear .6s;
  display: block;
  top: 0;
}

// nav {
//   border: $border-dev-green;
// }

.icon-container {
  @include flexbox;

  @include mobile-portrait-query {
    flex-direction: row;
  }


  @include tablet-landscape-query {
    flex-direction: column;
  }


  .inner-box {
    @include mobile-portrait-query {
      // justify-content: space-around;
      margin: 0 15px;
    }
  }

  h6 {
    @include font-properties($font-size: 0.6em, $letter-spacing: 0.12em);

    margin-bottom: 30px;
    margin-top: -10px;
    text-align: center;
  }

  div {
    @include flexbox;

    height: auto;
    width: auto;

    @include mobile-portrait-query {
      margin: 0 50px;
    }
  }
}

.main-about-info .icon-container {
  @include flexbox($direction: row);

  @include desktop-query {
    margin-top: 30px;
  }
}

.icon-links {
  margin: 20px 50px;

  @include mobile-portrait-query {
    margin: 20px 25px;
  }
}

.icon-links {
  display: block;
  background-repeat: no-repeat;
  background-image: url(../images/sprite.svg);
  opacity: .6;
  transition: opacity .2s ease;

  // border: $border-dev-green;
  &:hover {
    opacity: 1;
    transition: opacity .2s ease;
  }
}

.icon-link {
  width: 24px;
  height: 24px;
  background-position: 0 0;
}

.icon-arrow-back {
  width: 24px;
  height: 24px;
  background-position: -24px 0;

  @include mobile-portrait-query {
    display: none;
  }


  @include tablet-landscape-query {
    margin-bottom: 15px;
  }
}

.icon-mail {
  width: 24px;
  height: 24px;
  background-position: -48px 0;
}

.icon-enlarge2 {
  width: 24px;
  height: 24px;
  background-position: 0 -24px;
}

.icon-replay {
  width: 24px;
  height: 24px;
  background-position: -72px 0;

  @include mobile-portrait-query {
    display: none;
  }
}

.replay {
  h6 {
    @include mobile-portrait-query {
      display: none;
    }
  }
}

// .enlarge-container {
//   width: 50px;
//   height: 50px;
//   background-color: rgba(25, 25, 25, 0.5);
//   position: absolute;

//   // TODO: ADD BEHAVIOUR TO ENLARGE BUTTON + GET SHRINK BUTTON ADDED TO SVG
//   @include flexbox;
//
//   left: auto;
//   right: 0;
// }

.icon-github {
  width: 24px;
  height: 24px;
  background-position: 0 -48px;
}

.icon-codepen {
  width: 24px;
  height: 24px;
  background-position: -24px -48px;
}

//TEST SCSS

.sidebar--projects-page {
  display: flex;
  transform: translateX(-30vw);
  transition: transform .5s ease;
  position: absolute;
  top: 0vh;
  left: 0;

  @include desktop-query {
    margin-top: 100vh;
    z-index: 999;
    transform: translateX(-100vw);
  }


  @include mobile-portrait-query {
    top: 0;
    transform: translateX(0);
    margin-top: 0;
  }


  @include mobile-landscape-query {
    height: 150vh;
  }


  @include tablet-portrait-query {
    height: 40vh;
    display: flex;
  }


  @include tablet-landscape-query {
    position: absolute !important;
    transform: translateX(0vw);
  }
}

.sidebar--projects-page--heart {
  display: flex;
  transform: translateX(-30vw);
  transition: transform .5s ease;
  position: absolute;
  top: 200vh;
  left: 0;

  @include desktop-query {
    z-index: 999;
    transform: translateX(-100vw);
  }


  @include mobile-portrait-query {
    top: 0;
    transform: translateX(0);
    border-bottom: 15px solid $light-grey;
    height: calc(100vh + 15px);
  }


  @include mobile-landscape-query {
    height: 150vh;
  }


  @include tablet-landscape-query {
    top: 200vh;
    height: 100vh;
    border: none;
  }
}

.sidebar-blank {
  display: none;

  @include tablet-landscape-query {
    display: flex;
    justify-content: flex-start;
    position: absolute !important;
    bottom: 0;
    height: 200vh;

    // left: -30vw;
  }
}

@import "js";
